@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d3d3d3;
}

.navbar {
  font-family: 'Indie Flower', sans-serif;
  height: 4rem;
  background: linear-gradient(90deg, 	#02afc5 0%, #35c9dd 100%);
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
}

input[type="text"] {
  background-color: #f0f0f0;
  color: #333;
  width: 20rem;
  font-family: 'Poppins', sans-serif;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
}